<% include partials/header %>
<!-- To header -->
<header>
<div class='logodiv'>
      <img alt="Asana" src="../img/Logo-Horizontal-Color.png">
      <span>Welcome to <%= username %>'s account</span>
</div>
</header>
<!-- Navigation -->
<nav>  
 <div><h1>My Tasks in <%= projectname%> </h1></div>
</nav>
<!-- Main contianer -->
<div class="container">
			<!-- My tasks -->
			<ul class="todo" id="tasks">
			<% task.forEach(function(task) { %>
		        <li><a  target="_blank" href="https://app.asana.com/0/<%=projectID%>/<%=task.id%>"><%= task.name %></a>
		        <button onclick="deleteTask(this)" class="buttons">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 22 22" style="enable-background:new 0 0 22 22;" xml:space="preserve"><rect y="0" class="noFill" height="0" width="0"/><g><path class="fill" d="M9.7,14.4L9.7,14.4c-0.2,0-0.4-0.1-0.5-0.2l-2.7-2.7c-0.3-0.3-0.3-0.8,0-1.1s0.8-0.3,1.1,0l2.1,2.1l4.8-4.8c0.3-0.3,0.8-0.3,1.1,0s0.3,0.8,0,1.1l-5.3,5.3C10.1,14.3,9.9,14.4,9.7,14.4z"/></g></svg>
				</button>
				</li>
		    <% }); %>
			</ul>
</div> <!-- //.container -->
<!-- Footer -->
<% include partials/footer %>
